NODE_ENV=production
PORT=3000
SESSION_SECRET=change_this_to_a_long_random_secret
MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/void_mafia
USER_ID_START=1
ADMIN_IDS=1
MONITOR_IDS=
APP_NAME=VOID MAFIA v20
POWERED_BY=powered by ბატონი მაქსი.
